/* Cosmetic category CSS */
.displayCosmetic{
    width: 100%;
    height: 75vh;
    padding: 20px;
    justify-content: center;
    align-items: center;
    background-color: #e1e2e6;
    ;
}
.showCosmetic{
   
    width: 100%;
    height: 68.2vh;
    background-color: #e1e2e6;
    }
.cosmeticBand{
    width: 100%;
    height: 65px;
    background-color: white;
    padding: 20px;
    text-align: center;  
}
.txtCosmetic{
    font-size: 19px;
    word-spacing: 5px;
    font-weight: bolder;
    float: left;
    font-family: 'Roboto', sans-serif;
    
} 
.viewMore{
    height: 3.5vh;
    width: 7%;
    text-align: center;
    color: grey;
    padding: 2px;
    float: right;
    font-size: 15px;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
}

.viewMore:hover{
    color: #1c96c5;
}
.mainCatCosmetic{
    background-color: white;    
    width: 100%;
    height: 60.5vh;
    padding: 30px;
    display: flex;
    justify-content: space-between;
}

.cosmeticCat{
    width: 270px;
    height: 50.1vh;
    background-color: white;
}
.cosmeticCat:hover{
    transform: translateY(-3.5px);
    transition: 0.2s;
    box-shadow: 5px 5px 20px 5px rgba(0,0,0,0.3);
}
.catCosmeticImage{
    width: 100%;
    height: 60%;
    align-items: center;
    background-size: 10px 20px;

}

.catCosmeticImage img{
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.CosmeticNameCategory{
    height: 153px;
    background-color: white;
    padding: 10px;
    justify-content: center;
}
.CosmeticName{
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
}
.CosmeticPrice{
    text-align: center;
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
}

.landingCart{
    width: 153px;
    height: 40px;
    padding: 10px;
    border-radius: 7px;
    background-color: #1c96c5;
    color: white;
    margin-left: 50px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 20%;
}
.landingCart:hover{
    background-color: #f7f7f7;
    color: #1c96c5;
}

/* Gadget category CSS */
.displayGadget{
    width: 100%;
    height: 75vh;
    padding: 20px;
    justify-content: center;
    align-items: center;
    background-color: #e1e2e6;
}
.showGadget{
    width: 100%;
    height: 68.2vh;
    background-color: #f7f7f7;    
}
.gadgetBand{
    width: 100%;
    height: 65px;
    background-color: white;
    padding: 20px;
    text-align: center;   
}

.txtGadget{
    font-size: 19px;
    word-spacing: 5px;
    font-weight: bolder;
    float: left;
    font-family: 'Roboto', sans-serif;
} 
.viewMoreGadget{
    height: 3.5vh;
    width: 7%;
    text-align: center;
    color: gray;
    padding: 2px;
    float: right;
    font-size: 15px;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
}

.viewMoreGadget:hover{
    color: #1c96c5;
}
.mainCatGadget{
    background-color: white;    
    width: 100%;
    height: 60.5vh;
    padding: 30px;
    display: flex;
    justify-content: space-between;
}

.gadgetCat{
    width: 270px;
    height: 50.1vh;
}
.gadgetCat:hover{
    transform: translateY(-3.5px);
    transition: 0.2s;
    box-shadow: 5px 5px 20px 5px rgba(0,0,0,0.3);
}
.catGadgetImage{
    width: 100%;
    height: 60%;
    align-items: center;
    background-size: 10px 20px;
}
.catGadgetImage img{
    width: 100%;
    height: 100%;
}
.GadgetNameCategory{
    height: 113px;
    background-color: white;
    padding: 10px;
}
.GadgetName{
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}
.GadgetPrice{
    text-align: center;
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
} 


/* camera category CSS */
.displayCamera{
    width: 100%;
    height: 58vh;
    padding: 20px;
    justify-content: center;
    align-items: center;
    background-color: #f7f7f7;
}
.showCamera{
    width: 100%;
    height: 65.2vh;
    background-color: #f7f7f7;
    }
.cameraBand{
    width: 100%;
    height: 65px;
    background-color: #f7f7f7;
    padding: 10px;
    text-align: center;   
}

.txtCamera{
    font-size: 19px;
    word-spacing: 5px;
    font-weight: bolder;
    float: left;
    font-family: 'Roboto', sans-serif;
}
.viewMoreCamera{
    height: 3.5vh;
    width: 7%;
    background-color: #1c96c5;
    text-align: center;
    color: white;
    padding: 2px;
    float: right;
    font-size: 15px;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
}

.viewMoreCamera:hover{
    transform: translateY(-5px);
    transition: 0.5s;
}
.mainCatCamera{
    background-color: white;    
    width: 100%;
    height: 45.5vh;
    padding: 30px;
    display: flex;
    justify-content: space-between;
}

.cameraCat{
    width: 200px;
    height: 37.1vh;
}
.cameraCat:hover{
    transform: translateY(-3.5px);
    transition: 0.2s;
    box-shadow: 5px 5px 20px 5px rgba(0,0,0,0.3);
}
.catCameraImage{
    width: 100%;
    height: 60%;
    align-items: center;
    background-size: 10px 20px;
}
.catGadgetImage img{
    width: 100%;
    height: 100%;
}
.GadgetNameCategory{
    height: 113px;
    background-color: white;
    padding: 10px;
}
.GadgetName{
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}
.GadgetPrice{
    text-align: center;
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
} 


/* camera category CSS */
.displayCamera{
    width: 100%;
    height: 58vh;
    padding: 20px;
    justify-content: center;
    align-items: center;
    background-color: #f7f7f7;
}
.showCamera{
    width: 100%;
    height: 65.2vh;
    background-color: #f7f7f7;
    }
.cameraBand{
    width: 100%;
    height: 65px;
    background-color: #f7f7f7;
    padding: 10px;
    text-align: center;   
}

.txtCamera{
    font-size: 19px;
    word-spacing: 5px;
    font-weight: bolder;
    float: left;
    font-family: 'Roboto', sans-serif;
}
.viewMoreCamera{
    height: 3.5vh;
    width: 7%;
    background-color: #1c96c5;
    text-align: center;
    color: white;
    padding: 2px;
    float: right;
    font-size: 15px;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
}

.viewMoreCamera:hover{
    transform: translateY(-5px);
    transition: 0.5s;
}
.mainCatCamera{
    background-color: white;    
    width: 100%;
    height: 45.5vh;
    padding: 30px;
    display: flex;
    justify-content: space-between;
}

.cameraCat{
    width: 200px;
    height: 37.1vh;
}
.cameraCat:hover{
    transform: translateY(-3.5px);
    transition: 0.2s;
    box-shadow: 5px 5px 20px 5px rgba(0,0,0,0.3);
}
.catCameraImage{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    height: 60%;
    align-items: center;
    background-size: 10px 20px;

}

.CameraNameCategory{
    height: 113px;
    background-color: white;
    padding: 10px;
}
.CameraName{
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}
.CameraPrice{
    text-align: center;
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
} 

/* Gadget AD */
.GadgetContainer{
    width: 100%;
    height: 30vh;
    padding: 20px;
    background-color:#e1e2e6;
    display: flex;
    justify-content: center;
}
.GadgetImage{   
    width: 100%;
    height: 100px;
}