/* Cosmetic category CSS */
.displayCosmetic{
    width: 100%;
    height: auto;
    background-color: #f7f7f7;
    padding: 70px;
    justify-content: center;
    align-items: center;
}
.showCosmetic{
    width: 90%;
    height: 50vh;
    margin-left: 70px;
    margin-top: 50px;
    background-color: white;
    display: flex;
}
.cosmeticBand{
    width: 100%;
    height: 50px;
    padding: 10px;
    text-align: center;   
    display: flex;
}
.showCosmetic p{
    font-size: 19px;
    font-family: 'Roboto', sans-serif;
    
} 
.viewMore{
    height: 3.5vh;
    width: 7%;
    background-color: #1c96c5;
    text-align: center;
    border-radius: 5px;
    color: white;
    margin-left: 1050px;
    font-family: 'Roboto', sans-serif;;
}
.cosmetic{
    width: 20%;
    padding: 10px;
    background-color: blue;
}
/* Gadget category CSS */
.displayGadget{
    width: 100%;
    height: auto;
    background-color: #f7f7f7;
    padding: 70px;
    justify-content: center;
    align-items: center;
}
.showGadget{
    width: 90%;
    height: 50vh;
    margin-left: 70px;
    margin-top: 50px;
    background-color: white;
    display: flex;
}
.gadgetBand{
    width: 100%;
    height: 50px;
    padding: 10px;
    text-align: center;   
    display: flex;
}
.showGadget p{
    font-size: 19px;
    font-family: 'Roboto', sans-serif;
    
} 

/* .LandingPage{
    height: auto;
    width: 100%;
    background-color: #f7f7f7;
    padding: 100px;
}
.CosmeticSection{
    width: 100%;
    height: 50vh;
    background-color: white;
    padding: 20px;
    display: flex;
}
.CosmeticBand{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.CosmeticCategory{
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}
.CatCosButton{
    height: 3.5vh;
    width: 7%;
    background-color: #1c96c5;
    margin-left: 1020px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-family: 'Roboto', sans-serif;
} */