/* Landing Information */
.infoLanding{
     margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;    
}
.displayInformation{
    padding: 10px;
    width: auto;
    border:1px solid #e0e0e0;
    border-radius: 25px;
}
.infoOne{
    border-right: 1px solid #e0e0e0;
    font-family: 'Lato', sans-serif;
}
.infoOne p {
    font-family: corbel;
}
.infoOne img{
    width:120px;
    height: 70px;
}
@media screen and (max-width: 480px) {
    .infoOne img {
        width:70px;
        height: 30px;
    }
    .infoOne p {
        font-size: 10px;
    }
  }
  .infoTwo{
    border-right: 1px solid #e0e0e0;
    font-family: 'Lato', sans-serif;
}
.infoTwo p {
    font-family: corbel;
}
.infoTwo img{
    width:110px;
    height: 80px;
}

@media screen and (max-width: 480px) {
    .infoTwo img {
        width:50px;
        height: 35px;
    }
    .infoTwo p {
        font-size: 10px;
    }
  }
  .infoThree{
    font-family: corbel;
}
.infoThree img{
    width:90px;
    height: 80px;
}
@media screen and (max-width: 480px) {
    .infoThree img {
        width:50px;
        height: 35px;
    }
    .infoThree p {
        font-size: 10px;
    }
  }
/* Cosmetic category CSS */
.displayCosmetic{
    width: auto;
    margin-top: 20px;
}
.showCosmetic{
    background-color: white;
    border-radius: 3px;
    }
.cosmeticBand{
    padding: 5px;  
}
.txtCosmetic{
    font-size: 26px;
    word-spacing: 5px;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
    
} 
.viewMore{
    height: 4.5vh;
    text-align: center;
    font-weight: bold;
    color: grey;
    padding: 12px;
    font-size: 12px;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
}

.viewMore:hover{
    color: #1c96c5;
}
.mainCatCosmetic{
    width: 100%;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cosmeticCat{    
    width: 230px;
    height: 40.1vh;
    text-decoration: none;
}
.cosmeticCat:hover{
    border: 1px solid white;
}
.catCosmeticImage{
    width: 100%;
    height: 60%;
    align-items: center;
    background-size: 10px 20px;

}

.catCosmeticImage img{
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.CosmeticNameCategory{
    height: 120px;  
}
.CosmeticName{

    font-size: 16px;
    color: black;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
    cursor: pointer;
    margin-bottom: 0px;
}
.CosmeticType{
    /* text-align: center; */
    font-size: 13px;
    font-family: 'Lato', sans-serif;
    cursor: pointer;
    color: black;
    margin-bottom: 10px;
}
.CosmeticPrice{
    font-size: 18px;
    color: black;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
    cursor: pointer;
}

.landingCart{
    width: 153px;
    height: 40px;
    padding: 10px;
    border-radius: 7px;
    background-color: #ff5050;
    color: white;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
    font-size: 12px;
    margin-top: 10%;
    margin-left: 18%;
}
.landingCart:hover{
    background-color: #f7f7f7;
    color: #1c96c5;
}

/* Gadget category CSS */
.displayGadget{
    width: auto;
    margin-bottom: 20px;
}
.showGadget{
    background-color: white;
    border-radius: 3px;

}
.gadgetBand{
    padding: 5px;
}

.txtGadget{
    font-size: 26px;
    word-spacing: 5px;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
} 
.viewMoreGadget{
    height: 4.5vh;
    text-align: center;
    color: gray;
    padding: 15px;
    font-size: 12px;
    /* letter-spacing: 1px; */
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
}

.viewMoreGadget:hover{
    color: #1c96c5;
}
.mainCatGadget{
    width: 100%;
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gadgetCat{
    width: 230px;
    height: 40.1vh;
    text-decoration: none;
    /* border: 1px solid #e0dfdc; */
    border-radius: 5px;
}
.gadgetCat:hover{
    border: 1px solid white;
}
.catGadgetImage{
    width: 100%;
    height: 60%;
    align-items: center;
    background-size: 10px 20px;
}
.catGadgetImage img{
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.GadgetNameCategory{
    height: 120px;
}
.GadgetName{
    font-size: 16px;
    color: black;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
    cursor: pointer;
    margin-bottom: 0px;
}
.GadgetType{
    font-size: 13px;
    font-family: 'Lato', sans-serif;
    cursor: pointer;
    color: black;
    margin-bottom: 10px;
}
.GadgetPrice{
    font-size: 18px;
    color: black;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
    cursor: pointer;
} 


/* camera category CSS */
/* .displayCamera{
    width: 100%;
    height: 58vh;
    padding: 20px;
    justify-content: center;
    align-items: center;
    background-color: #f7f7f7;
}
.showCamera{
    width: 100%;
    height: 65.2vh;
    background-color: #f7f7f7;
    }
.cameraBand{
    width: 100%;
    height: 65px;
    background-color: #f7f7f7;
    padding: 10px;
    text-align: center;   
}

.txtCamera{
    font-size: 19px;
    word-spacing: 5px;
    font-weight: bolder;
    float: left;
    font-family: 'Roboto', sans-serif;
}
.viewMoreCamera{
    height: 3.5vh;
    width: 7%;
    background-color: #1c96c5;
    text-align: center;
    color: white;
    padding: 2px;
    float: right;
    font-size: 15px;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
}

.viewMoreCamera:hover{
    transform: translateY(-5px);
    transition: 0.5s;
}
.mainCatCamera{
    background-color: white;    
    width: 100%;
    height: 45.5vh;
    padding: 30px;
    display: flex;
    justify-content: space-between;
}

.cameraCat{
    width: 200px;
    height: 37.1vh;
}
.cameraCat:hover{
    transform: translateY(-3.5px);
    transition: 0.2s;
    box-shadow: 5px 5px 20px 5px rgba(0,0,0,0.3);
}
.catCameraImage{
    width: 100%;
    height: 60%;
    align-items: center;
    background-size: 10px 20px;
}
.catGadgetImage img{
    width: 100%;
    height: 100%;
}

.GadgetName{
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}
.GadgetPrice{
    text-align: center;
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
} 


/* camera category CSS */
.displayCamera{
    width: 100%;
    height: 58vh;
    padding: 20px;
    justify-content: center;
    align-items: center;
    background-color: #f7f7f7;
}
.showCamera{
    width: 100%;
    height: 65.2vh;
    background-color: #f7f7f7;
    }
.cameraBand{
    width: 100%;
    height: 65px;
    background-color: #f7f7f7;
    padding: 10px;
    text-align: center;   
}

.txtCamera{
    font-size: 19px;
    word-spacing: 5px;
    font-weight: bolder;
    float: left;
    font-family: 'Roboto', sans-serif;
}
.viewMoreCamera{
    height: 3.5vh;
    width: 7%;
    background-color: #1c96c5;
    text-align: center;
    color: white;
    padding: 2px;
    float: right;
    font-size: 15px;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
}

.viewMoreCamera:hover{
    transform: translateY(-5px);
    transition: 0.5s;
}
.mainCatCamera{
    background-color: white;    
    width: 100%;
    height: 45.5vh;
    padding: 30px;
    display: flex;
    justify-content: space-between;
}

.cameraCat{
    width: 200px;
    height: 37.1vh;
}
.cameraCat:hover{
    transform: translateY(-3.5px);
    transition: 0.2s;
    box-shadow: 5px 5px 20px 5px rgba(0,0,0,0.3);
}
.catCameraImage{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    height: 60%;
    align-items: center;
    background-size: 10px 20px;

}

.CameraNameCategory{
    height: 113px;
    background-color: white;
    padding: 10px;
}
.CameraName{
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}
.CameraPrice{
    text-align: center;
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
}  */

/* Gadget AD */
.GadgetContainer{
    width: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}
