/* Cosmetic category CSS */
.displayCosmetics{
    width: 100%;
    height: 75vh;
    padding: 20px;
    justify-content: center;
    align-items: center;
    background-color: #e1e2e6;
    ;
}
.showCosmetics{
   
    width: 100%;
    height: 68.2vh;
    }
.cosmeticsBand{
    width:13%;
    height: 65px;
    padding: 20px;
    text-align: center;    
}
.txtCosmetics{
    font-size: 19px;
    word-spacing: 5px;
    font-weight: bolder;
    float: left;
    font-family: 'Roboto', sans-serif;
    
} 

.cosmeticFilter{
    width: 100%;
    height: fit-content;
    display: block;
    padding-left: 3%;
}
.cosmeticName{
    display: grid;
    width: fit-content;
    float: left;
}
.cosmeticType{
    display: grid;
    width: fit-content;
    padding-left: 82%;
}

.mainCatCosmetics{
    background-color: white;    
    width: 100%;
    height: 60.5vh;
    padding: 30px;
    padding-left: 7%;
    display: block;
}

.cosmeticsCat{
    width: 270px;
    height: 50.1vh;
    float: left;
    margin: 2%;
    border: double;
    border-color: #1c96c5;
}
.cosmeticsCat:hover{
    transform: translateY(-3.5px);
    transition: 0.2s;
    box-shadow: 5px 5px 20px 5px rgba(0,0,0,0.3);
}
.catCosmeticsImage{
    width: 100%;
    height: 60%;
    align-items: center;
    background-size: 10px 20px;

}

.catCosmeticsImage img{
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.CosmeticsNameCategory{
    height: 153px;
    background-color: white;
    padding: 10px;
    justify-content: center;
}
.CosmeticsName{
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
}
.CosmeticsPrice{
    text-align: center;
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
}

.cosmeticsCart{
    width: 153px;
    height: 40px;
    padding: 10px;
    border-radius: 7px;
    background-color: #1c96c5;
    color: white;
    margin-left: 50px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 20%;
}
.cosmeticsCart:hover{
    background-color: #f7f7f7;
    color: #1c96c5;
}

/* Gadget category CSS */
.displayGadgets{
    width: 100%;
    height: 75vh;
    padding: 20px;
    justify-content: center;
    align-items: center;
    background-color: #e1e2e6;
}
.showGadgets{
    width: 100%;
    height: 68.2vh;
}
.gadgetsBand{
    width:13%;
    height: 65px;
    padding: 20px;
    text-align: center;   
}

.gadgetsFilter{
    width: 100%;
    height: fit-content;
    display: grid;
    padding-left: 3%;
}

.txtGadgets{
    font-size: 19px;
    word-spacing: 5px;
    font-weight: bolder;
    float: left;
    font-family: 'Roboto', sans-serif;
} 

.mainCatGadgets{
    background-color: white;    
    width: 100%;
    height: 60.5vh;
    padding: 30px;
    padding-left: 7%;
    display: block;
    
}

.gadgetsCat{
    width: 270px;
    height: 50.1vh;
    float: left;
    margin: 2%;
    border: double;
    border-color: #1c96c5;
}
.gadgetsCat:hover{
    transform: translateY(-3.5px);
    transition: 0.2s;
    box-shadow: 5px 5px 20px 5px rgba(0,0,0,0.3);
}
.catGadgetsImage{
    width: 100%;
    height: 60%;
    align-items: center;
    background-size: 10px 20px;
}
.catGadgetsImage img{
    width: 100%;
    height: 100%;
}
.GadgetsNameCategory{
    height: 113px;
    background-color: white;
    padding: 10px;
}
.GadgetsName{
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}
.GadgetsPrice{
    text-align: center;
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
} 
.gadgetsCart{
    width: 153px;
    height: 40px;
    padding: 10px;
    border-radius: 7px;
    background-color: #1c96c5;
    color: white;
    margin-left: 50px;
    cursor: pointer;
    font-weight: bold;
}
.gadgetsCart:hover{
    background-color: #f7f7f7;
    color: #1c96c5;
}

/* Dropdown */
.dropdown-item {
    color: #1c96c5;
    font-weight: 700;
}

.dropdown-item.active, .dropdown-item:active {
    color: #1c96c5;
    background-color: #fff;
}

a.dropdown-item:hover{
    display: flex;
    color: #075d80;
    background-color: #eff2f5;
    padding: 10px;
}

.nav_profile_link {
    display: flex;
    align-items: center;
    border: 2px solid #1c96c5;
    border-radius: 10px;
    padding: 5px;
}

.nav_profile_icon {
    font-size: 24px;
    margin-right: 10px;
}

.nav_profile_detatil {
    font-size: 12px;
}

.nav_profile {
    display: flex;
    align-items: center;
    align-self: center;
}

.nav_profile span {
    color: #1c96c5;
    font-size: 16px;
    font-weight: 700;
}

.nav_name_mob {
    text-transform: capitalize;
}
