.btn_p_c {
    background-color: #1c96c5;
    color: #fff;
}

.btn_p_c:hover {
    color: #fff;
}

/* p_bg_c = primary background color */
.p_bg_c{
    background-color: #1c96c5;
}

/* primary text color */
.primary_text_color{
    color: #1c96c5;
}

/*--------------------- ProfileMenu --------------------- */
button {
    border: none;
}

.profile-menu {
    display: flex;
    justify-self: center;
}

.rc-menu-button {
    background-color: #fff;
    color: #1c96c5;
}


/*--------------------- Header --------------------- */
.Header {
    box-shadow: 0 15px 10px -15px #1111112b;
    /* position: fixed; */
    /* width: 100%; */
    z-index: 999;
}

.active {
    /* border-bottom: 4px solid #1c96c5 ; */
}

nav.navbar.navbar-expand-lg.navbar-light {
    background-color: #fff;
}

.navbar-light .navbar-brand {
    color: #1c96c5;
    font-weight: 800;
}


.navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover {
    color: #1c96c5;
}

/* to change the bootstrap default toggler icon and color ---- hamburger icon */
.navbar-light .navbar-toggler-icon{
   background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(28, 150, 197, 1)' stroke-width='4' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-light .navbar-toggler {
    color: rgba(28, 150, 197, 1);
    border-color: rgba(28, 150, 197, 1);
}

.navbar-light .navbar-nav .nav-link {
    color: #1c96c5;
    font-weight: 700;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #1c96c5;
}

.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
    color: #1c96c5;
}