.Register {
    background-color: red;
    display: flex;
}

.r_left_side {
    background-color: #fff;
    position: relative;
    flex: 1 1 0 ;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 60%;
}

.r_left_top {
    background-color: #fff;
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 24px;
}

.r_left_logo {
    color: #92d3ec;
    font-size: 24px;
    font-weight: 800;
}

.r_left_form {
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;

}

.btn {
    width: 100%;
}

.primary_color {
    /* background-color: #2d00fb; */
    background-color: #92d3ec;
    color: #fff;
}

.r_left_bottom {
    width: 100%;
    margin: 24px auto 0;
    min-height: 72px;
    padding-left: 32px;
    background-color: #f6f6f9;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
}

.r_right_side {
    display: flex;
    background-color: #92d3ec;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

@media only screen and (min-width: 769px){
    .Register {
        height: 100vh;
    }

    .r_right_side img {
        width: 50%;
    }
    
    .r_left_form{
        width: 440px;
        margin-top: 40px;
        align-self: center;
    }
}

@media only screen and (max-width: 769px){
    .r_right_side {
        display: none;
    }
    
   
}